// green : #009674
.u-section-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
    url("/banner02.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 420px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 375px;
  margin: 30px auto 30px 80px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 310px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 0 21px;
}

.u-section-1 .u-text-1 {
  font-size: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 1px 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0);
  margin: 0 30px;
}

.u-section-1 .u-group-1 {
  width: 230px;
  height: auto;
  min-height: 65px;
  margin: 15px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px;
}

.u-section-1 .u-text-3 {
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  margin-top: 5px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0);
  margin: 20px 30px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-size: 16px;
  font-weight: 400;
  margin: 20px auto 0;
  padding: 8px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 35px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 4px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 35px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-group-1 {
    width: 250px;
    min-height: 79px;
    margin-top: 17px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.375rem;
    margin-top: 26px;
    margin-left: 13px;
    margin-right: 13px;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 257px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.625rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 20px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 18px 23px 12px;
}

.u-section-2 .u-text-3 {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  // .u-section-2 .u-layout-cell-1 {
  //   min-height: 734px;
  // }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  // .u-section-2 .u-layout-cell-3 {
  //   min-height: 734px;
  // }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}
