@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300;
  font-style: normal !important;
}

a {
  cursor: pointer;
}

#app .header {
  padding: 0 !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
@media (max-width: 900px) {
  #app .header {
    padding: 0 10px !important;
  }
  #app .header .page-width > div {
    min-width: none !important;
  }
}

#app .header .page-width {
  padding: 0 !important;
}

#app .header .main_logo {
  width: 200px;
}

#app .header .page-width > div {
  min-width: 150px;
  display: flex;
  align-items: center;
}

#app .header nav ul li a {
  font-size: 15px;
  font-weight: 500;
}

#app main.content h3.mt-12.mb-12 {
  margin-top: 20px !important;
  margin-bottom: 15px !important;
  text-transform: none !important;
  font-size: 25px !important;
  font-weight: 700 !important;
  color: #009674 !important;
}

#app main.content div.pt-12 {
  padding-top: 0 !important;
}
